version: '3.8'

services:
  api-gateway:
    build:
      context: .
      dockerfile: apps/api-gateway/Dockerfile
    ports:
      - '3000:3000'
    environment:
      - USER_GRPC_URL=user-service:50051
      - DRIVER_GRPC_URL=driver-service:50052
      - TRIP_GRPC_URL=trip-service:50053
      - CLERK_SECRET_KEY=${CLERK_SECRET_KEY}
    networks:
      - uit-go-network

  user-service:
    build:
      context: .
      dockerfile: apps/user-service/Dockerfile
    environment:
      - DATABASE_URL=${DATABASE_URL}
    networks:
      - uit-go-network

  driver-service:
    build:
      context: .
      dockerfile: apps/driver-service/Dockerfile
    environment:
      - DATABASE_URL=${DATABASE_URL}
    networks:
      - uit-go-network

  trip-service:
    build:
      context: .
      dockerfile: apps/trip-service/Dockerfile
    environment:
      - DATABASE_URL=${DATABASE_URL}
    networks:
      - uit-go-network

networks:
  uit-go-network:
    driver: bridge
